/**
 * Econozel Default Theme-Compat Styles
 *
 * @package Econozel
 * @subpackage Theme
 */

#econozel-volumes .econozel-term:first-child .volume-title,
.econozel .volume-editions > li:first-child > .edition-title,
body:not(.econozel-volume) #econozel-editions .econozel-term:first-child .edition-title,
.econozel .edition-articles > li:first-child > .article-title {
	margin-top: 0px;
}

#econozel-volumes > .econozel-term:not(:first-child),
#econozel-editions > .econozel-term:not(:first-child) {
	margin-top: 35px;
	border-top: 1px solid #efefef;
}

.econozel .volume-editions,
.econozel .edition-articles {
	list-style: none;
	padding-left: 0px;
}

.econozel .table-of-contents {
	margin-left: 0px;
}

.econozel .volume-editions .edition-title,
.econozel .edition-articles .article-title {
	display: block;
}

.econozel .volume-editions .edition-title ~ span,
.econozel .edition-articles .article-title ~ span,
.econozel .article-meta span,
.econozel .entry-content .widget_recent_entries.econozel-articles .page_item > a ~ span {
	opacity: .7;
}

.econozel .volume-editions .edition-title ~ span:not(:last-of-type):after,
.econozel .edition-articles .article-title ~ span:not(:last-of-type):after,
.econozel .article-meta span:not(:last-of-type):after {
	content: ' \2013'; /* &ndash; */
	margin: 0 5px;
}

.econozel .entry-content .widget_recent_entries.econozel-articles .page_item > a + span:before {
	content: '';
	display: block;
}

.econozel .entry-content .widget_recent_entries.econozel-articles .page_item > a + span ~ span:before {
	content: '\2022';
	margin-right: 4px;
}

.econozel .widget_recent_entries .post-date a:not(:hover) {
	border: 0;
	text-decoration: none;
	box-shadow: none;
}
